# Logs
logs
*.log
*.DS_Store
.tmp
.sass-cache
.directory
bower_components
src/assets/styles/main.css
src/assets/styles/main.css.map
src/dist
.grunt
node_modules
.idea/
/**/*/css.map
src/assets/styles/main.css.map