.banner {
	background: url(/assets/images/banner.jpg) top left no-repeat;
	min-height: 450px;
	background-size: cover;
	position: relative;
	&__head {
		position: relative;
		z-index: 99;
		text-align: center;
		margin-top: 125px;
		&_title {
			color: #fff;
			margin-bottom: 5px;
		}
		&_subTitle {
			color: #fff;
		}
	}
	&__body {
		position: relative;
		z-index: 99;
		padding: 5px;
		//background: rgba(255, 255, 255, 0.3);
		max-width: 766px;
		margin: 0 auto;
		border-radius: 2px;
		margin-top: 30px;

		$text-input-height: 45px;

		.form-control, .form-control-feedback {
			height: $text-input-height;
			//border: none;
			border-radius: 0;
			&-city {
				padding-left: 30px;
			}
		}
		input[type="text"] {
			padding-right: $text-input-height;
		}
		.input-group-text .form-control, .form-control-feedback {
			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;
		}
		.btn {
			font-size: 20px;
			font-weight: bold;
			padding: 7px 12px;
		}
		.input-group-btn .btn {
			font-size: 14px;
			font-weight: normal;
			height: $text-input-height;
		}
		.chosen-container-single {
		 	.chosen-single {
				height: $text-input-height;
				line-height: $text-input-height;
				border-radius: 2px;
				div b {
					margin-top: 18px;
				}
			}
			&.chosen-with-drop {
				.chosen-single {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}		
		.select-group .fa {
			top: 12px;
		}
		.form-control-feedback{
			.inline-btn {
				height: $text-input-height;
				font-size: 20px;
				//font-weight: bold;
				//padding: 7px 12px;
				background-color: transparent;
				border-color: transparent;
				vertical-align: middle;
			}
		}
	}
	.overlay {
		position: absolute;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}

	.custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
        > .message {
	        padding: 10px 20px;
	        border-bottom: 1px solid #ddd;
	        color: #868686;
	    }
	    > .dropdown-menu {
	        position: static;
	        float: none;
	        display: block;
	        min-width: 160px;
	        background-color: transparent;
	        border: none;
	        border-radius: 0;
	        box-shadow: none;
	    }
    }
	.custom-tab {
		//background-color: rgb(245, 247, 250, 0.6);
		.active {
			background-color: rgb(59, 175, 218);
			color: white;
		}
	}
}

.btn-select {
	min-width: 110px;
}

@media (max-width: 767px) {
	.banner {
		min-height: 400px;
		&__head {
			margin-top: 50px;
			&_title {
				font-size: 32px;
			}
		}
		&__body {
			margin-bottom: 60px;
			.custom-tab
			.form-control,
			.input-group-btn .btn,
			.chosen-container {
				font-size: 12px;
			}
			.select-group,
			.input-group {
				margin-bottom: 5px;
			}
			input[type="text"] {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
}