.result {
	&__list {
		margin-top: 60px;
		background: #f3f3f3;
		padding: 10px;
		min-height: 700px;
	}
	&__bar {
		&:after {
			clear: both;
			display: block;
			content: " ";
		}
		.total {
			margin: 5px 0 0;
			float: left;
		}
	}
	.col-md-6, .col-xs-8 {
		padding: 0;
	}
}

#result {
	margin: 0;
}

@media (max-width: 767px) {
	.result__list {
		margin-top: 10px;
	}
}