<!-- Start Block Search -->
<div class="blockSearch">
    <div class="blockSearch__inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-btn" ng-class="{open: showSearchType}">
                            <button type="button" class="btn" tabindex="-1">{{selectedType}}</button>
                            <button type="button" class="btn dropdown-toggle" ng-click="showSearchType = !showSearchType">
                                <span class="caret"></span>
                            </button>
                            <ul ng-show="showSearchType" class="dropdown-menu">
                                <li><a href="javascript:void(0)" ng-click="onSelectType('conditions')">Triệu chứng</a></li>
                                <li><a href="javascript:void(0)" ng-click="onSelectType('name')">Bác sĩ</a></li>
                                <li><a href="javascript:void(0)" ng-click="onSelectType('specialty')">Chuyên Khoa</a></li>
                            </ul>
                        </div>
                        <div class="input-group-text">
                            <input type="text"
                                ng-show="actionGroup.conditions.value"
                                uib-typeahead="condition as condition.name for condition in getConditions($viewValue)"
                                typeahead-loading="loading"
                                typeahead-on-select="onSelectCondition(condition)"
                                typeahead-no-results="noResults"                                
                                ng-model="condition"
                                class="form-control">
                            <input type="text"
                                ng-show="actionGroup.name.value"
                                uib-typeahead="doctor.name for doctor in getParams($viewValue)"
                                typeahead-loading="loading"
                                typeahead-no-results="noResults"
                                ng-model="doctor"
                                class="form-control">
                            <input type="text"
                                ng-show="actionGroup.specialty.value"
                                uib-typeahead="specialty.name for specialty in getParams($viewValue)"
                                typeahead-loading="loading"
                                typeahead-no-results="noResults"
                                ng-model="specialty"
                                class="form-control">
                        </div>                        
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-group">
                        <i class="fa fa-map-marker"></i>
                        <input type="text"
                            uib-typeahead="city.name for city in getCities($viewValue)"
                            typeahead-loading="loadingCity"
                            typeahead-no-results="noResultsCity"
                            typeahead-on-select="onSelectCity(city)"
                            placeholder="Nhập thành phố"
                            ng-model="city"
                            class="form-control form-control-city">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="select-group">
                        <i class="fa fa-hospital-o"></i>
                        <input type="text"
                            placeholder="Bệnh viện"
                            uib-typeahead="hospital.name for hospital in getHospitals($viewValue)"
                            typeahead-loading="loadingLocations"
                            typeahead-no-results="noResults"
                            ng-model="hospital"
                            class="form-control form-control-search-autocomplete">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div>
                        <button class="btn btn-primary btn-block btn-no-radius" ng-click="search(specialty, doctor)">
                            {{'global.banner.form.action' | translate}}
                        </button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Block Search -->