<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7 lt-ie10" id="ng-app" ng-app="iDocApp" ng-cloak> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie10" id="ng-app" ng-app="iDocApp" ng-cloak> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 lt-ie10" id="ng-app" ng-app="iDocApp"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" id="ng-app"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" id="ng-app" ng-app="iDocApp"> <!--<![endif]-->
<head>
    <title>iDoc</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- build:css assets/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/Bootflat/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/Bootflat/bootflat/css/bootflat.css" />
    <link rel="stylesheet" href="../bower_components/textAngular/dist/textAngular.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css">
    <!-- endbuild -->

    <script>
        var loc = window.location.href;
        if (loc.indexOf("#") != -1 && loc.indexOf("#!") == -1) {
            window.location.href = loc.replace("#", "#!");
        }
    </script>
</head>
<body ng-controller="MainCtrl">
<!-- Start Nav -->
<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#iDocNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="{{'global.app' | translate}}"></a>
        </div>
        <div class="collapse navbar-collapse" id="iDocNav">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Blog</a></li>
                <li><a href="#">For Doctor</a></li>
                <li class="nav-border"><a href="javascript:void(0)" ng-click="openLogin()">{{'global.menu.account.login' | translate}}</a></li>
                <li><a href="javascript:void(0)" ng-click="openRegister()" class="btn btn-primary">{{'global.menu.account.signup' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Nav -->

<!-- Start Main View -->
<div id="main" ui-view="content-view">

</div>
<!-- End Main View -->

<!-- Start Footer -->
<footer class="footer">
    <div class="container">
        <div class="clearfix">
            <div class="footer-logo"><a href="#"><img src="assets/images/logo_footer.png" alt="Khám Bác Sĩ"></a></div>
            <dl class="footer-nav">
                <dt class="nav-title">PORTFOLIO</dt>
                <dd class="nav-item"><a href="#">Web Design</a></dd>
                <dd class="nav-item"><a href="#">Branding &amp; Identity</a></dd>
                <dd class="nav-item"><a href="#">Mobile Design</a></dd>
                <dd class="nav-item"><a href="#">Print</a></dd>
                <dd class="nav-item"><a href="#">User Interface</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">ABOUT</dt>
                <dd class="nav-item"><a href="#">The Company</a></dd>
                <dd class="nav-item"><a href="#">History</a></dd>
                <dd class="nav-item"><a href="#">Vision</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">GALLERY</dt>
                <dd class="nav-item"><a href="#">Flickr</a></dd>
                <dd class="nav-item"><a href="#">Picasa</a></dd>
                <dd class="nav-item"><a href="#">iStockPhoto</a></dd>
                <dd class="nav-item"><a href="#">PhotoDune</a></dd>
            </dl>
            <dl class="footer-nav">
                <dt class="nav-title">CONTACT</dt>
                <dd class="nav-item"><a href="#">Basic Info</a></dd>
                <dd class="nav-item"><a href="#">Map</a></dd>
                <dd class="nav-item"><a href="#">Conctact Form</a></dd>
            </dl>
        </div>
        <p class="footer-copyright" ng-bind-html="'global.copyright' | translate"></p>
    </div>
</footer>
<!-- End Footer -->

<!--[if lt IE 9]>
<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<![endif]-->

<!-- build:js /assets/js/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/es5-shim/es5-shim.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/modernizr/modernizr.js"></script>
<script src="../bower_components/jquery-ui/ui/jquery-ui.js"></script>
<script src="../bower_components/Bootflat/bootflat/js/icheck.min.js"></script>
<script src="../bower_components/Bootflat/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="../bower_components/Bootflat/bootflat/js/jquery.fs.stepper.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../bower_components/angular-resource/angular-resource.js"></script>
<script src="../bower_components/angular-cookies/angular-cookies.js"></script>
<script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="../bower_components/ui-router-extras/release/ct-ui-router-extras.js"></script>
<script src="../bower_components/angular-translate/angular-translate.js"></script>
<script src="../bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
<script src="../bower_components/angular-translate-loader-partial/angular-translate-loader-partial.js"></script>
<script src="../bower_components/messageformat/messageformat.js"></script>
<script src="../bower_components/messageformat/locale/vi.js"></script>
<script src="../bower_components/messageformat/locale/en.js"></script>
<script src="../bower_components/angular-translate-interpolation-messageformat/angular-translate-interpolation-messageformat.js"></script>
<script src="../bower_components/angular-dynamic-locale/src/tmhDynamicLocale.js"></script>
<script src="../bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="../bower_components/angular-cache-buster/angular-cache-buster.js"></script>
<script src="../bower_components/underscore/underscore.js"></script>
<script src="../bower_components/rangy/rangy-core.js"></script>
<script src="../bower_components/rangy/rangy-classapplier.js"></script>
<script src="../bower_components/rangy/rangy-highlighter.js"></script>
<script src="../bower_components/rangy/rangy-selectionsaverestore.js"></script>
<script src="../bower_components/rangy/rangy-serializer.js"></script>
<script src="../bower_components/rangy/rangy-textrange.js"></script>
<script src="../bower_components/textAngular/dist/textAngular.js"></script>
<script src="../bower_components/textAngular/dist/textAngular-sanitize.js"></script>
<script src="../bower_components/textAngular/dist/textAngularSetup.js"></script>
<script src="../bower_components/ngstorage/ngStorage.js"></script>
<script src="../bower_components/angucomplete/angucomplete.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="../bower_components/angular-utils-pagination/dirPagination.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src='http://maps.google.com/maps/api/js?v=3.20&amp;libraries=places&amp;region=uk&amp;language=en&amp;sensor=false'></script>

<!-- build:js({.tmp,src}) /assets/js/app.js -->
<script src="assets/js/app.js"></script>
<script src="assets/js/route.js"></script>
<script src="assets/js/app.constants.js"></script>

<script src="common/services/iDocApiPath.service.js"></script>
<script src="common/services/iDocRest.service.js"></script>

<script src="common/directives/maps.directive.js"></script>
<script src="common/directives/starRaiting.directive.js"></script>

<script src="common/controllers/main.controller.js"></script>
<script src="common/controllers/login.controller.js"></script>
<script src="common/controllers/register.controller.js"></script>

<script src="idoc/home/home.controller.js"></script>
<script src="idoc/result/result.controller.js"></script>
<script src="idoc/detail/detail.controller.js"></script>
<!-- endbuild -->

</body>
</html>
