<div class="modal-content__login">
    <div class="modal-header">
        <h4 class="modal-title">Login</h4>
        <span class="fa fa-close" ng-click="close()"></span>
    </div>
    
    <div class="modal-body">
        <button type="button" class="btn btn-icon btn-block btn-facebook">
            <i class="fa fa-facebook"></i>
            <span>{{ 'global.login.facebook_btn' | translate}}</span>
        </button>
        <button type="button" class="btn btn-icon btn-block btn-google">
            <i class="fa fa-google-plus"></i>
            <span>{{ 'global.login.google_btn' | translate}}</span>
        </button>
        
        <div class="or">
            <span>Or</span>
        </div>

        <form name="loginForm">
            <input type="email" ng-model="user.email" class="form-control input-email" placeholder="{{ 'global.login.username' | translate}}">
            <input type="password" ng-model="user.password" class="form-control" placeholder="{{ 'global.login.password' | translate}}">
            <button ng-click="login(user)" class="btn btn-primary btn-block btn-login">
                <span>{{ 'global.login.submit_btn' | translate}}</span>
            </button>
        </form>
    </div>
</div>